h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline overline dashed;
}

body{
    background-color: black;
    color: white;
}

.container{
    text-align: center;
    background-color: aqua;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}
#startButton,#stopButton,#resetButton{
    font-size: 40px;
    margin: 5px;
    width: 150px;
    margin-bottom: -10px;
    background-color: blue;
}


button {
    margin: auto;
    margin-top: 10px;
}   

.choose{
    text-align: center;
    font-size: 25px;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    color: brown;
}
#option1,#option2,#option3,#option4{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    width: 100px;
}
p{
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    color: brown;
}

#question{
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    color: rgb(64, 7, 221);
}

#timer{
    text-align: end;
    font-size: 25px;
    margin-top: -120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 221, 96);
    margin-right: 50px;
    margin-bottom: 0px;
}